// === GLOBAL VARIABLES ===

// Rənglər
$primary-color: #ff6600;
$white-color: #ffffff;
$black-color: #000000;

// Butonlar
$btn-bg: $primary-color;
$btn-color: $white-color;
$btn-radius: 12px;

// Navbar rəngləri
$navbar-bg: rgba(10, 10, 10, 0.6);
$navbar-bg-scrolled: rgba(10, 10, 10, 0.9);
$nav-link-color: #ffffff;
$nav-link-hover-color: $primary-color;
$collapse-bg: rgba(10, 10, 10, 0.8);
$btn-bg: #ff6700;

